# Dependencies
node_modules
.pnpm-store

# Build output
dist
build
.tsbuildinfo

# Environment variables
.env
.env.local
.env.*.local
!.env.example

# OS files
.DS_Store
Thumbs.db

# IDE & Editor files
.idea
.vscode
*.sublime-project
*.sublime-workspace

# Test coverage & logs
coverage
test-results
playwright-report
blob-report
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
